<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://subtextscraper.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3ca5263e-884e-4b3e-aa82-f890063e0539/resourceGroups/SubtextSMPictureGenerator/providers/Microsoft.Web/sites/SubtextScraper</ResourceId>
    <UserName>$SubtextScraper</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://subtextscraper.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>