  @font-face {
    font-family: Inter;
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  }

  :root {
    --border-radius: 12px;
    font-family: Inter;

    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;

    --card-background: #dfe6e9;

    --main-color: #15161F;
    --on-main-color: #dfe6e9;

    --main-color-hover: #2a2b352f;
    --track-color: #ddd;

    --image-preview-reference-width: 300px;
    accent-color: var(--main-color);

    --preview-on-background: #000;
    --preview-background: #fff;


  }

  *,
  *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter;

    /* transition: all 0.05s ease-in-out;   */
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb))
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-weight: 500;
    font-size: 5vw;
    word-wrap: break-word;
  }

  main {
    max-width: 1920px;
    min-height: 100vh;
    text-align: center;
    margin: auto;
  }

  main>div {
    padding: 50px;
  }

  input,
  textarea {
    border: none;
    border-bottom: 2px solid var(--main-color);
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 16px;
    font-weight: 400;
  }

  /* Input field focus state */
  input:focus,
  textarea:focus {
    outline: none;
  }

  button {
    padding: 6px 24px;
    border-radius: 5em;
    border: 2px solid rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  /* Button hover state */
  button:hover {
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
  }


  #article-loaded-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    height: 100%;
  }

  @media only screen and (max-width: 950px) {
    #article-loaded-container {
      display: block;
    }
  }

  #image-preview-container {
    min-height: 100vh;
    padding-top: 50px;
    background-color: var(--main-color);
    color: var(--on-main-color);
    width: 100%;
  }

  #image-preview-container button {
    background-color: var(--main-color);
    color: var(--on-main-color);
    border: 2px solid var(--on-main-color);
  }

  #image-preview-container button:hover {
    background-color: var(--on-main-color);
    color: var(--main-color);
    border: 2px solid var(--on-main-color);
  }

  #image-preview {
    background-color: var(--preview-background);
    color: var(--preview-on-background);
    aspect-ratio: 9/16;
    width: var(--image-preview-reference-width);
    
    font-size: calc(var(--image-preview-reference-width)*0.03);
    position: relative;
    text-align: left;
    overflow: hidden;
  }



  #image-preview-border {
    margin: auto;
    transform-origin: bottom center;
    margin-bottom: calc(var(--image-preview-reference-width)*0.05);
    aspect-ratio: 9/16;
    border-radius: calc(var(--image-preview-reference-width)*0.024);
    width: calc(var(--image-preview-reference-width) + calc(var(--image-preview-reference-width)*0.04));
    display: flex;
    justify-content: center;
    background-color: var(--preview-background);
    border: 1px solid rgb(var(--preview-on-background));
  }

  @supports not (aspect-ratio: 9 / 16) { 
    #image-preview::before, #image-preview-border::before {
      float: left;
      padding-top: 177.777%;
      content: '';
    }
    
    #image-preview::after, #image-preview-border::after {
      display: block;
      content: '';
      clear: both;
    }
  }
#image-preview{

  .text-content-wrapper{
    padding: calc(var(--image-preview-reference-width)*0.06);
    padding-bottom: calc(var(--image-preview-reference-width)*0.03);
    padding-top: calc(var(--image-preview-reference-width)*0.20);
  
    .image-preview-author{
      font-weight: 500;
    }

    .title{
      padding: calc(var(--image-preview-reference-width)*0.02) 0;
      min-height: calc(var(--image-preview-reference-width)*0.2);
      font-weight: 500;
      line-height: 100%;
    }

    .lead{
      min-height: calc(var(--image-preview-reference-width)*0.2);

    }
  
    .whole-article-tease{
      padding: calc(var(--image-preview-reference-width)*0.12) 0;
      font-weight: bold;
    }
  
    .sub-infos{
      display: flex;
      justify-content: space-between;
      gap: calc(var(--image-preview-reference-width)*0.02);
      align-items: flex-end;
  
      .image-preview-sub-picture-categories{
        display: flex;
        align-items: center;
        justify-content: center;
      }
     .tags-wrapper {
        display: flex;
        gap: calc(var(--image-preview-reference-width)*0.005);
        align-items: center;
      
        .tag {
          border: calc(var(--image-preview-reference-width)*0.002) solid var(--preview-on-background);
          border-radius: calc(var(--image-preview-reference-width)*0.128);
          padding: calc(var(--image-preview-reference-width)*0.005) calc(var(--image-preview-reference-width)*0.02);
          margin-right: calc(var(--image-preview-reference-width)*0.02);
        }
      }
    
  
      .image-credits{
        font-size: calc(var(--image-preview-reference-width)*0.02);
      }
    }
  }
  .image-wrapper {
    img{
      height: calc(var(--image-preview-reference-width)*0.9);
      width: 100%;
      object-fit: cover;
      object-position: center center;
      
    }
  }
}
